
<form action="" method="POST">
<label for="name-input">User Name</label>
<input id="name-input" type="text" name="username" placeholder="User Name"/>

<label for="password-input">Password</label>
<input id="password-input" type="password" name="password" placeholder="Create a strong password"/>

<button>Sign Up</button>
</form>
